*password*
Terraform/April24-2022/.terraform/terraform.tfstate
Terraform/April24-2022/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.0.0/darwin_amd64/terraform-provider-azurerm_v3.0.0_x5
Terraform/April24-2022/.terraform.lock.hcl
*.terraform/*
